@font-face {
  font-family: 'ApercuPro-ThinItalic';
  src: url('ApercuPro-ThinItalic.eot');
  src: url('ApercuPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('ApercuPro-ThinItalic.svg#ApercuPro-ThinItalic') format('svg'),
  url('ApercuPro-ThinItalic.ttf') format('truetype'),
  url('ApercuPro-ThinItalic.woff') format('woff'),
  url('ApercuPro-ThinItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-BlackItalic';
  src: url('ApercuPro-BlackItalic.eot');
  src: url('ApercuPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('ApercuPro-BlackItalic.svg#ApercuPro-BlackItalic') format('svg'),
  url('ApercuPro-BlackItalic.ttf') format('truetype'),
  url('ApercuPro-BlackItalic.woff') format('woff'),
  url('ApercuPro-BlackItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-Black';
  src: url('ApercuPro-Black.eot');
  src: url('ApercuPro-Black.eot?#iefix') format('embedded-opentype'),
  url('ApercuPro-Black.svg#ApercuPro-Black') format('svg'),
  url('ApercuPro-Black.ttf') format('truetype'),
  url('ApercuPro-Black.woff') format('woff'),
  url('ApercuPro-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-BoldItalic';
  src: url('ApercuPro-BoldItalic.eot');
  src: url('ApercuPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('ApercuPro-BoldItalic.svg#ApercuPro-BoldItalic') format('svg'),
  url('ApercuPro-BoldItalic.ttf') format('truetype'),
  url('ApercuPro-BoldItalic.woff') format('woff'),
  url('ApercuPro-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-Bold';
  src: url('ApercuPro-Bold.eot');
  src: url('ApercuPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('ApercuPro-Bold.svg#ApercuPro-Bold') format('svg'),
  url('ApercuPro-Bold.ttf') format('truetype'),
  url('ApercuPro-Bold.woff') format('woff'),
  url('ApercuPro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-ExtraLightItalic';
  src: url('ApercuPro-ExtraLightItalic.eot');
  src: url('ApercuPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('ApercuPro-ExtraLightItalic.svg#ApercuPro-ExtraLightItalic') format('svg'),
  url('ApercuPro-ExtraLightItalic.ttf') format('truetype'),
  url('ApercuPro-ExtraLightItalic.woff') format('woff'),
  url('ApercuPro-ExtraLightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-ExtraLight';
  src: url('ApercuPro-ExtraLight.eot');
  src: url('ApercuPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('ApercuPro-ExtraLight.svg#ApercuPro-ExtraLight') format('svg'),
  url('ApercuPro-ExtraLight.ttf') format('truetype'),
  url('ApercuPro-ExtraLight.woff') format('woff'),
  url('ApercuPro-ExtraLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-Italic';
  src: url('ApercuPro-Italic.eot');
  src: url('ApercuPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('ApercuPro-Italic.svg#ApercuPro-Italic') format('svg'),
  url('ApercuPro-Italic.ttf') format('truetype'),
  url('ApercuPro-Italic.woff') format('woff'),
  url('ApercuPro-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-LightItalic';
  src: url('ApercuPro-LightItalic.eot');
  src: url('ApercuPro-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('ApercuPro-LightItalic.svg#ApercuPro-LightItalic') format('svg'),
  url('ApercuPro-LightItalic.ttf') format('truetype'),
  url('ApercuPro-LightItalic.woff') format('woff'),
  url('ApercuPro-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-Light';
  src: url('ApercuPro-Light.eot');
  src: url('ApercuPro-Light.eot?#iefix') format('embedded-opentype'),
  url('ApercuPro-Light.svg#ApercuPro-Light') format('svg'),
  url('ApercuPro-Light.ttf') format('truetype'),
  url('ApercuPro-Light.woff') format('woff'),
  url('ApercuPro-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-MediumItalic';
  src: url('ApercuPro-MediumItalic.eot');
  src: url('ApercuPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('ApercuPro-MediumItalic.svg#ApercuPro-MediumItalic') format('svg'),
  url('ApercuPro-MediumItalic.ttf') format('truetype'),
  url('ApercuPro-MediumItalic.woff') format('woff'),
  url('ApercuPro-MediumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-Medium';
  src: url('ApercuPro-Medium.eot');
  src: url('ApercuPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('ApercuPro-Medium.svg#ApercuPro-Medium') format('svg'),
  url('ApercuPro-Medium.ttf') format('truetype'),
  url('ApercuPro-Medium.woff') format('woff'),
  url('ApercuPro-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-Regular';
  src: url('ApercuPro-Regular.eot');
  src: url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('ApercuPro-Regular.svg#ApercuPro-Regular') format('svg'),
  url('ApercuPro-Regular.ttf') format('truetype'),
  url('ApercuPro-Regular.woff') format('woff'),
  url('ApercuPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-Thin';
  src: url('ApercuPro-Thin.eot');
  src: url('ApercuPro-Thin.eot?#iefix') format('embedded-opentype'),
  url('ApercuPro-Thin.svg#ApercuPro-Thin') format('svg'),
  url('ApercuPro-Thin.ttf') format('truetype'),
  url('ApercuPro-Thin.woff') format('woff'),
  url('ApercuPro-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
